OPENAI_API_KEY=
EMBEDDING_MODEL_NAME=
LLM_MODEL_NAME=

QDRANT_API_KEY=
QDRANT_API_URL=
QDRANT_COLLECTION_NAME=

AIRBYTE_API_URL=
AIRBYTE_CLIENT_ID=
AIRBYTE_CLIENT_SECRET=

KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=